// Colors

$link-color: #DE3831;

$code-block-stdoutcolor: #37424a;
$code-block-stdoutcolor-light: rgba($code-block-stdoutcolor, 0.5);
$code-block-stdoutcolor-lighter: rgba($code-block-stdoutcolor, 0.1);


$white:    #fff    !default;
$gray-100: #f8f9fa !default;
$gray-200: #f7f7f9 !default;
$gray-300: #eceeef !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #919aa1 !default;
$gray-700: #55595c !default;
$gray-800: #343a40 !default;
$gray-900: #1a1a1a !default;
$black:    #000    !default;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #d9534f !default;
$orange:  #fd7e14 !default;
$yellow:  #f0ad4e !default;
$green:   #4bbf73 !default;
$teal:    #20c997 !default;
$cyan:    #1f9bcf !default;

$primary:       $gray-900 !default;
$secondary:     $white    !default;
$success:       $green    !default;
$info:          $cyan     !default;
$warning:       $yellow   !default;
$danger:        $red      !default;
$light:         $white    !default;
$dark:          $gray-800 !default;




// font face

@import url('https://fonts.googleapis.com/css2?family=Oswald');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Roboto');


//$toc-font-size: 1em;


/*-- scss:rules --*/

.primary{  color: $primary}
.secondary{color: $secondary}
.success{  color: $success}
.info{     color: $info}
.warning{  color: $warning}
.danger{   color: $danger}
.light{    color:$light}
.dark{     color: $dark}

// Ajout classe bg-dark pour le background du text

.bg-dark{background-color: $dark}
.bg-light{background-color: $light}




.cell-output-display pre, .cell-output-stdout pre {
    background-color: $code-block-stdoutcolor-lighter !important;
    border: 1.5px solid $code-block-stdoutcolor-light;
    border-radius: .25rem;
    border-left: 4px;
    border-left-style: solid;
    border-left-color: $code-block-stdoutcolor;
    padding: .4em;
    color: #37424a
}


.cell-output pre code {
    background-color: transparent;
}


// largeur des 3 éléments du grid (déjà dans _quarto.yaml) mais cela a tendance à sauter (????)

// The left hand sidebar
$grid-sidebar-width: 50px !default;

// The main body
$grid-body-width: 1200px !default;

// The right hand margin bar
$grid-margin-width: 500px !default;

// The gutter that appears between the above columns
$grid-column-gutter-width: 2.5rem !default;


